---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---
<h2>Journals</h2>
<ul>
  <li><strong>Cong Liu</strong>, Ying Wang, Lijie Wen, Jiujun Cheng, Long Cheng, and Qingtian Zeng, “Discovering Hierarchical Multi-instance Business Processes from Event Logs”. <em>IEEE Transactions on Services Computing</em>, 17(1): 142-155, 2024. (IF: 11.019, CCF A类期刊，中科院1区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, Long Cheng, Qingtian Zeng, and Lijie Wen, “Formal Modeling and Discovery of Hierarchical Business Processes: A Petri Net Based Approach”. <em>IEEE Transactions on Systems, Man and Cybernetics: Systems</em>, 53(2): 1003-1014, 2023. (IF: 11.471, 中科院1区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, Huiling Li, Qingtian Zeng*, Hua Duan, and Lijie Wen, “跨组织业务流程模型挖掘与质量评估”, <em>计算机学报</em>, 46(3): 643-656, 2023. (CCF推荐A类期刊)</li>
  <li><strong>Cong Liu</strong>, “Formal Modeling and Discovery of Multi-instance Business Processes: A Cloud Resource Management Case Study”, <em>IEEE/CAA Journal of Automatica Sinica</em>, 9(12): 2151-2160, 2022. (IF: 11.8, 中科院1区，Top期刊)</li>
  <li><trong>Cong Liu</strong>, Hua Duan, Qingtian Zeng, Mengchu Zhou, Faming Lu, and Jiujun Cheng, “Towards comprehensive support for privacy preservation cross-organization business process mining”. <em>IEEE Transactions on Services Computing</em>, 12(4): 639-653, 2019. (IF: 11.019, CCF A类期刊，中科院1区, Top期刊, ESI高被引论文，热点论文)</li>
  <li><strong>Cong Liu</strong>, Huiling Li, Shuaipeng Zhang, Long Cheng, and Qingtian Zeng, “Cross-Department Collaborative Healthcare Process Model Discovery from Event Logs”, <em>IEEE Transactions on Automation Science and Engineering</em>, 20(3): 2115-2125, 2023. (IF: 6.636, 中科院2区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, Qingtian Zeng, Long Cheng, Hua Duan, and Jiujun Cheng, “Measuring Similarity for Data-aware Business Processes”, <em>IEEE Transactions on Automation Science and Engineering</em>, 19(2): 1070-1082, 2022. (IF: 6.636, 中科院2区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, Qingtian Zeng, Long Cheng, Hua Duan, Mengchu Zhou, and Jiujun Cheng, “Privacy-preserving Behavioral Correctness Verification of Cross-organizational Workflow with Task Synchronization Patterns”, <em>IEEE Transactions on Automation Science and Engineering</em>, 18(3): 1037-1048, 2021. (IF: 6.636, 中科院2区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, “Discovery and Quality Evaluation of Software Component Behavioral Models”, <em>IEEE Transactions on Automation Science and Engineering</em>, 18(4): 1538-1549, 2021. (IF: 6.636, 中科院2区，Top期刊)</li>
  <li><strong>Cong Liu</strong>, “Automatic Discovery of Behavioral Models from Software Execution Data”. <em>IEEE Transactions on Automation Science and Engineering</em>, 15(4): 1897-1908, 2018. (IF: 6.636, 中科院2区，Top期刊)</li>
</ul>

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



