---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

* Software Engineering, Bachelor Level, Professor, 2024-2025 (Fall), Shandong University of Technology
* Principles and Applications of Big Data Technology, Bachelor Level, Professor, 2023-2024 (Spring), Shandong University of Technology
* Principles and Applications of Big Data Technology, Bachelor Level, Professor, 2022-2023 (Spring), Shandong University of Technology
* Software Engineering, Bachelor Level, Professor, 2022-2023 (Spring), Shandong University of Technology
* Software Engineering, Bachelor Level, Professor, 2022-2023 (Fall), Shandong University of Technology
* Principles and Applications of Big Data Technology, Bachelor Level, Professor, 2021-2022 (Spring), Shandong University of Technology
* Freshman Seminar: Introduction to Big Data Discipline, Bachelor Level, Professor, 2021-2022 (Fall), Shandong University of Technology
* Freshman Seminar: Introduction to Big Data Discipline, Bachelor Level, Professor, 2020-2021 (Fall), Shandong University of Technology
* Data Analytics for Engineers, Bachelor Level, Professor, 2019, Eindhoven University of Technology
* Data Analytics for Engineers, Bachelor Level, Professor, 2018, Eindhoven University of Technology
* Data Analytics for Engineers, Bachelor Level, Professor, 2017, Eindhoven University of Technology
* Discrete Mathematics, Bachelor Level, Professor, 2014, Shandong University of Science and Technology
