---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<ul>
  <li><strong>Software Engineering</strong>, Bachelor Level, Professor, 2024-2025 (Fall), Shandong University of Technology</li>
  <li><strong>Principles and Applications of Big Data Technology</strong>, Bachelor Level, Professor, 2023-2024 (Spring), Shandong University of Technology</li>
  <li><strong>Freshman Seminar: Introduction to Big Data Discipline</strong>, Bachelor Level, Professor, 2021-2022 (Fall), Shandong University of Technology</li>
  <li><strong>Data Analytics for Engineers</strong>, Bachelor Level, Professor, 2019, Eindhoven University of Technology</li>
  <li><strong>Discrete Mathematics</strong>, Bachelor Level, Professor, 2014, Shandong University of Science and Technology</li>
</ul>


